.calculate{
    position: relative;
    z-index: 2;

    &__items{
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        margin-bottom: 20px;
    }

    &__title{
        margin-bottom: 60px;
    }

    &__container{
        margin-bottom: 60px;
    }

    &__object{

        transition: var(--transition);
        &:hover{
            opacity: 0.5;
        }
    }

    &__cart{
        background-color: white;
        border-radius: var(--border-radius);
        padding: 20px;

        width: 400px;
        height: 100%;
    }

    &__map{
        display: flex;
        gap: 30px;
        align-items: center;
    }
}